<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
<title>Cours |{% block title %} {% endblock title %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'css.html' %}
</head>
<body>
<div class="super_container">
        <!-- Header -->
    {% include 'layouts/__nav.html' %}	
        <!-- body -->
    {% block content %} {% endblock content %}
        <!-- Footer -->
    {% include 'layouts/__foot.html' %}
</div>

{% include 'js.html' %}
</body>
</html>
